.stacks{
    display: inline-block;
    margin-top: 470px;
    margin-left: 300px;
    animation: bounce 5s;
}

.mern{
    height: 80px;
    width: 150px;
    margin: 10px;
    border: solid darkred 3px;
}

.python{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid darkred 3px;
}