html{
  font-size: 65%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Nue', 'sans-serif';
  color:black;
  background: rgb(251, 232, 218);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


